<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy product</title>
    <script>
        function showPaymentSection(event) {
            event.preventDefault(); 
            const name = document.getElementById('name').value;
            if (name.trim() === '') {
                alert('Please enter your name');
                return;
            }

            document.getElementById('billing-section').style.display = 'none';
            document.getElementById('payment-section').style.display = 'block';
        }

        function continuePurchase() {
            const payment = document.querySelector('input[name="payment"]:checked');
            if (!payment) {
                alert('Please select a payment method');
                return;
            }

            alert('Billing and Payment info submitted successfully!\nPayment Method: ' + payment.value);

            document.getElementById('full-form').submit();
        }
    </script>
</head>
<body>
    <form id="full-form" action="/buy_product_post/{{ product_id }}/" method="post">

        {% csrf_token %}

        
        <div id="billing-section">
            <h2>Billing Information</h2>

            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br>

            <label for="phone1">Phone</label>
            <input type="number" name="phone1" id="phone1"><br>

            <label for="phone2">Alternate Phone</label>
            <input type="number" name="phone2" id="phone2"><br>

            <label for="shipping_address">Shipping Address</label>
            <textarea name="shipping_address" id="shipping_address"></textarea><br>

            <label for="state">State</label>
            <input type="text" name="state" id="state"><br>

            <label for="city">City</label>
            <input type="text" name="city" id="city"><br>

            <label for="pincode">ZIP/Pincode</label>
            <input type="number" name="pincode" id="pincode"><br><br>

            <input type="submit" value="Save & Continue to Payment" onclick="showPaymentSection(event)">
        </div>

        
        <div id="payment-section" style="display: none;">
            <h2>Payment method</h2>

            <input type="radio" id="card" name="payment" value="Card">
            <label for="card">Debit/Credit Card</label><br>

            <input type="radio" id="netbanking" name="payment" value="netbanking">
            <label for="netbanking">UPI/Net Banking</label><br>

            <input type="radio" id="banktransfer" name="payment" value="banktransfer">
            <label for="banktransfer">Bank Transfer</label><br><br>

            <button type="button" id="purchased" onclick="continuePurchase()">Continue Purchase</button>
   

            
            <a href="/buy_product/{{product_id}}/">Cancel</a>
        </div>
    </form>
</body>
</html>
