<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products list</title>
</head>
<body>
    <h2>All Products</h2>
    <table border="1">
        <tr>
            <th>Sl no</th>
            <th>Product name</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Description</th>
            <th>Image</th>
            <th>Manufacturing date</th>
            <th>Quantity</th>
            <th>Dimensions</th>
            <th>Price</th>
        </tr>
        {% for i in products %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.category }}</td>
            <td>{{ i.sub_category }}</td>
            <td>{{ i.description }}</td>
            <td><img src="{{ i.images.url }}" width="100" height="100"></td>
            <td>{{ i.m_date }}</td>
            <td>{{ i.qty }}</td>
            <td>{{ i.dimensions }}</td>
            <td>{{ i.price }}</td>

            <td><a href="/add_to_cart/{{i.id}}">Add to cart</a></td>
            <td><a href="/buy_product/{{i.id}}/">Buy</a></td>

        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/buyer_home/">Home</a>
</body>
