<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in cart%}
    <p><span>{{i.products.title}}</span></p><br>
    <span><img src="{{i.products.images.url}}" alt="" width="100" height="100"></span><br>
    <p><span>{{i.products.category}}</span></p>
    <p>{{i.products.description}}</p>
    <p><span>{{i.created_at}}</span></p>

    <a href="/buy_product/{{i.id}}/">Proceed to Buy</a>

    {% endfor %}
</body>
</html>